/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
body {
  font-family: "Roboto Condensed",sans-serif;
  margin: 0 auto;
  width: 1080px;
}
a {background-color:#000000; color:#ffffff; padding:3px 5px; border-radius:5px; text-decoration:none; }

#home p {
  margin: 0;
  padding: 0;
}
#home div {
margin:0 auto 0;
}
#home h1 {
  display: block;
  margin: 0;
  padding: 0;
}
#home ul {
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 0;
  width: 1080px;
}
#home ul li {
  border: 1px solid #999999;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  *display:inline;
  zoom:1;
  height: auto;
  margin: 1%;
  padding: 1%;
  width: 15.5%;
}
#home img {display:block; height:80px; padding-bottom:20px;}

#home a {
  display: block;
  float: right;
  margin: 15px 10px 0;
  padding:3px 5px;
}
#home input[type="submit"], #home input[type="reset"]  {border: 1px solid #999999;border-radius: 5px 5px 5px 5px;display: inline-block;height: auto; margin: 5px;padding: 10px;width: 180px; cursor:pointer;}

#clearcart p { padding:10px; margin:0 auto; width:550px; text-align:center;}

li {list-style:none; padding:0px; margin:0px;}
div {width:1040px; border:1px solid #000000; padding:20px; margin:40px auto 0;}
.left {float:left;}
.right{float:right;}
.clear {clear:both; padding:0; border:0; width:100%; height:1px;}
span {font-weight:bold; font-size:18px;}
